.responsive {
  width: 100%;
  height: auto;
  position: relative;
}

button {
  margin-left: 5px;
}

.foto .welcome {
  position: absolute;
  width: 50%;
  top: 50%;
  margin-left: 10%;
  color: white;
}
.foto .welcome p {
  font-size: x-large;
}
