button {
  margin: 8px;
}
@media (min-width: 768px) {
  .bottom {
    width: 50%;
  }
}
.symbols {
  text-align: start;
  padding-left: 10px;
}

.symbols tr,
td {
  margin: 10px;
  vertical-align: bottom;
}

h6 {
  color: gray;
}
.responsive-image {
  width: auto;
  height: auto;
}
