.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.horizontal-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.horizontal-list li {
  display: inline;
}

.action-buttons {
  display: flex;
  gap: 10px;
  border-radius: 50px;
}

.action-button-signup {
  border-radius: 10px;
  background-color: #ffffff;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
}

.action-button-login {
  border-radius: 10px;
  background-color: #3498db;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
  }
}
