.menu {
  display: flex;
  justify-content: center; /* Mengatur tautan ke tengah secara horizontal */
  align-items: center; /* Mengatur tautan ke tengah secara vertikal */
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Mengatur tautan ke tengah secara horizontal */
  align-items: center; /* Mengatur tautan ke tengah secara vertikal */
}

nav li {
  align-items: center;
  margin: 0 10px; /* Atur jarak antara setiap item */
}
